.swtich {
    display: flex;
}
.swtich label {
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-color: var(--color-white);
    border-radius: 25px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.swtich label::after {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin: 0px 2px ;
    position: absolute;
    background-color: var(--color-blue);
    transition: all 0.2s ease;
}
.swtich input[value=true] + label {
    background-color: var(--color-blue);
}
.swtich input[value=true] + label::after{
    background-color: var(--color-black);
    transform: translateX(20px);
}
.swtich input[type='checkbox']{
    display: none;
}